<a href="https://colab.research.google.com/github/bglassesgirl/meninas-programadoras/blob/main/semana4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 28
Contador A

Seu programa deve ler um valor inteiro positivo e imprimir, um por linha, os valores entre 0 e o valor anterior ao inteiro lido.

Entrada:

Um valor inteiro

Saída:

Como especificado acima.

In [3]:
numero = int(input())

for item in range(numero):
  print(item)

21
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 2 29
Contador B

Seu programa deve ler um valor inteiro positivo e imprimir, um por linha, os valores entre 1 e o inteiro lido, inclusive.

Entrada:

Você pode clicar aqui para digitar a descrição da entrada do seu problema usando multiplos parágrafos se necessário.

Saída:

Você pode clicar aqui para digitar a descrição da entrada do seu problema usando multiplos parágrafos se necessário.

In [20]:
numero = int(input())

for item in range(1,numero +1):
  print(item)

33
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

# 2 30

Contador C

Seu programa deve ler um valor inteiro positivo e imprimir, um por linha, os valores pares entre 0 e o inteiro lido, inclusive.

Entrada:

Você pode clicar aqui para digitar a descrição da entrada do seu problema usando multiplos parágrafos se necessário.

Saída:

Você pode clicar aqui para digitar a descrição da entrada do seu problema usando multiplos parágrafos se necessário.

In [24]:
numero = int(input())

for item in range(0,numero + 1, 2):
   print(item)

21
0
2
4
6
8
10
12
14
16
18
20

# 3 Tabuada

In [40]:
numero = int(input())
tabuada = [0, 1,3,4,5,6,7,8,9,10,11]
tamanho = len(tabuada)
indice = 0
cont = 1

print('Tabuada do', numero)
while cont <= tamanho:
   resultado = numero * cont
   print(numero, 'x', cont, '=', resultado)
   indice = indice+1
   cont = cont+1

49
Tabuada do 49
49 x 1 = 49
49 x 2 = 98
49 x 3 = 147
49 x 4 = 196
49 x 5 = 245
49 x 6 = 294
49 x 7 = 343
49 x 8 = 392
49 x 9 = 441
49 x 10 = 490
49 x 11 = 539

# 5 Tabuada: valores

In [41]:
numero = int(input())
tabuada = [0, 1,3,4,5,6,7,8,9,10,11]
tamanho = len(tabuada)
indice = 0
cont = 1

while cont <= tamanho:
   resultado = numero * cont
   print(resultado)
   indice = indice+1
   cont = cont+1

7
7
14
21
28
35
42
49
56
63
70
77

# 6 Balanço #5

In [46]:
numero = int(input())
primeiro = int(input())
ultimo = int(input())
cont = primeiro

print('Tabuada do', numero, 'de', primeiro, 'até', ultimo)

for i in range(primeiro, ultimo+1):
   resultado = numero * i
   print(numero, 'x', i, '=', resultado)
   cont = cont+1

9
9
99
Tabuada do 9 de 9 até 99
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180
9 x 21 = 189
9 x 22 = 198
9 x 23 = 207
9 x 24 = 216
9 x 25 = 225
9 x 26 = 234
9 x 27 = 243
9 x 28 = 252
9 x 29 = 261
9 x 30 = 270
9 x 31 = 279
9 x 32 = 288
9 x 33 = 297
9 x 34 = 306
9 x 35 = 315
9 x 36 = 324
9 x 37 = 333
9 x 38 = 342
9 x 39 = 351
9 x 40 = 360
9 x 41 = 369
9 x 42 = 378
9 x 43 = 387
9 x 44 = 396
9 x 45 = 405
9 x 46 = 414
9 x 47 = 423
9 x 48 = 432
9 x 49 = 441
9 x 50 = 450
9 x 51 = 459
9 x 52 = 468
9 x 53 = 477
9 x 54 = 486
9 x 55 = 495
9 x 56 = 504
9 x 57 = 513
9 x 58 = 522
9 x 59 = 531
9 x 60 = 540
9 x 61 = 549
9 x 62 = 558
9 x 63 = 567
9 x 64 = 576
9 x 65 = 585
9 x 66 = 594
9 x 67 = 603
9 x 68 = 612
9 x 69 = 621
9 x 70 = 630
9 x 71 = 639
9 x 72 = 648
9 x 73 = 657
9 x 74 = 666
9 x 75 = 675
9 x 76 = 684
9 x 77 = 693
9 x 78 = 702
9 x 79 = 711
9 x 80 = 720
9 x 81 = 729
9 x 82 = 738
9 x 83 = 747
9 x 84 = 756
9 x 85 = 765
9 x 86 = 774
9 x 87 = 783
9 x 88 = 792
9 x 89 = 801
9 x 90 = 810
9 x 91 = 819
9 x 92 = 828
9 x 93 = 837
9 x 94 = 846
9 x 95 = 855
9 x 96 = 864
9 x 97 = 873
9 x 98 = 882
9 x 99 = 891

# 7 25

**Histograma A**

Vamos desenhar um histograma? Seu programa deve ler uma linha que contém um algaritsmo entre 1 e 9, e imprimir uma sequência de asteriscos correspondente ao valor lido.

**Entrada**:
Uma linha com um valor entre 1 e 9

**Saída**:
Uma linha com uma sequência de asteriscos correspondente ao valor lido.

In [3]:
numero = int(input())

if 1 <= numero <= 9:
    asteriscos = '*' * numero
    print(asteriscos)

9
*********

# 8 26

Histograma B

Vamos desenhar outro histograma? Desta vez, seu programa deve ler uma linha que contém um algaritsmo entre 0 e 9 e:

- se o valor for 0, imprimir um ponto final

- caso contrário, imprimir uma sequência de asteriscos correspondente ao valor lido.

Entrada

Um valor entre 0 e 9

Saída

Uma linha, como explicitado acima

In [6]:
numero = int(input())

if 0 <= numero <= 9:
    asteriscos = '*' * numero
    print(asteriscos)
    if numero == 0:
      print('.')

5
*****

# 9 27

**Histograma C**

Vamos desenhar outro histograma, agora com mais cara de histograma? 

Desta vez, seu programa deve ler uma linha que contém uma sequência de caracteres, sendo que todos os caracteres são digitos entre 1 e 9. Para cada dígito, seu programa deve imprimir uma linha com uma sequência de asteriscos correspondente ao valor representado pelo dígito.

**Entrada**:Uma string formada por dígitos entre 1 e 9

In [10]:
sequencia = input()

for digito in sequencia:
    valor = int(digito)
    asteriscos = '*' * valor
    print(asteriscos)

123456789
*
**
***
****
*****
******
*******
********
*********